button,.button {
    cursor: pointer;
    background-color: $clr2bg;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;   
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

button:hover,.button:hover {
    background-color: $clr2;
    transition: .3s;
    color: $gray3;
    text-decoration: none;
}

button[disabled] {
    background-color: $gray1;
    color: black;
    cursor: not-allowed;
}

input:focus {
    background-color: $gray2;
    transition: background-color 1s;
}

.button{
    text-decoration: none;
}

input,select{
    background-color: $gray1;
    border-radius: 4rem;
    text-align: center;
    border: 1px solid lightgray;
    padding: 2px;
    // margin-inline-start: 20px;
}

select,.checkbox,label  {
    cursor: pointer;
}

// ul{
//     text-decoration: none;
// }
// select {
//     margin: 10px auto 10px 0;

// }

textarea {
    border-radius: 0.3em;
    border: 1px solid lightgray;
}
