.app-header {
  position: fixed;
  width: 100vw;
  background-color: $clr1;
  color: $clr1bg;
  z-index: 2;
  height: 70px;
  padding: 15px 0;
  border-bottom: 1px solid rgb(234, 230, 230);
  align-items: center;

  nav {
    position: absolute;
    right: $layoutPadding;
  }

  img {
    position: absolute;
    top: 0;
    height: 70px;
  }
}

.menu-toggle-btn,
.main-screen {
  display: none;
}

body.menu-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}

@media(max-width: 720px) {
  .app-header {
    color: $clr2bg;
  }
}

@media (max-width: 640px) {
  .dash {
    display: none;
  }

  .main-screen {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
    z-index: 1;
  }

  nav {
    background: rgb(244, 244, 244);
    z-index: 2;
    display: flex;
    position: absolute;
    top: 70px;
    transform: translateY(0%);
    width: 100vw;
    flex-direction: column;
    max-height: 0;
    justify-content: flex-end;
    overflow: hidden;
  }
  
  body.menu-open nav {
    transition: max-height 0.6s;
    max-height: 100vh;
    right: 0;
  }

  .app-header nav .button {
    display: block;
    text-align: center;
    padding: 10px;

    transition: background-color .6s;
  }

  .menu-toggle-btn {
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    padding: 4px;
    display: block;
    position: absolute;
    right: $layoutPadding;
  }

}