.toy-filter {
    background-color: $gray1;
    // padding: 1em;
    padding: 10px $layoutPadding;
    border-bottom: 1px solid lightgray;
    form {
        display: flex;
        flex-direction: column;
    }
    input,select{
        margin: 10px 0 0 5px;
    }
}

