.user-msg {
    background-color: lightgray;
    padding: .2em .5em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: white;
    // border-radius: 2px;
    border-radius: 0.2em;
    // align-items: center;
}

.user-msg.success {
    background-color: $clr1;
}

.user-msg.error {
    background-color: $clr2;
}

.user-msg button {
    font-size: .5em;
    float: right;
    margin: 0;
    margin-inline-start: 3em;
}