.about > * {
    padding-block-start: 10px;

    position: relative;
    top: 70px;

}

.about{
    h2{
        text-align: center;
    }
    
    .btns-container {
        display: flex;
    
        button {
            margin: 5px 5px 5px 0;
            // flex-basis: max-content;
        }
    }
}