.toy-edit {
    position: relative;
    top: 70px;

    background-color: $gray1;
    // padding: 1em;
    height: calc(100vh - 70px);
    padding-inline: $layoutPadding;    padding-block: 10px;
    border-bottom: 1px solid lightgray;

    > * {
        width: max-content;
    }

    form {
        display: flex;
        flex-direction: column;
    }

}