// COLOR PALETTE
$clr1: #2b7c94;
$clr2: rgb(208, 233, 234);

$clr1bg: #afdfdf;
$clr1bg-light: #c1f1e1;
$clr2bg: #a8d1d9;
$clr2bg-light: #e9d8a6;

$gray1: rgb(240, 240, 240);
$gray2: rgb(155, 155, 155);
$gray3: rgb(130, 127, 127);

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 1500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2; 